<h1> Add Patient Card </h1>

<%= form_for @patientcard do |f| %>
  <%= f.label :code %>
  <%= f.text_field :code %><br>

  <%= f.label :description %>
  <%= f.text_field :description %><br>

  <%= f.label :hospital_id %>
  <%= f.number_field :hospital_id %><br>

  <%= f.label :patient_id %>
  <%= f.number_field :patient_id %><br>

  <%= f.submit "Create" %>
<% end %>