<h1> View Some Patient Card </h1>

<table>
  <tr>
    <td> ID: </td>
    <td> <%= @patientcard.id %> </td>
  </tr>

  <tr>
    <td> Code: </td>
    <td> <%= @patientcard.code %> </td>
  </tr>

  <tr>
    <td> Description: </td>
    <td> <%= @patientcard.description %> </td>
  </tr>

  <tr>
    <td> Hospital ID: </td>
    <td> <%= @patientcard.hospital_id %> </td>
  </tr>

  <tr>
    <td> Patient ID: </td>
    <td> <%= @patientcard.patient_id %> </td>
  </tr>

</table>

<br>

<%= link_to 'Update', edit_patient_card_path(@patientcard) %> |
<%= link_to 'Back to patient cards', patient_cards_path %>