<%= stylesheet_link_tag 'view' %>

<h1> View Some Patient Card </h1>

<table>
  <tr>
    <td> ID: </td>
    <td> <%= @patientcard.id %> </td>
  </tr>

  <tr>
    <td> Code: </td>
    <td> <%= @patientcard.code %> </td>
  </tr>

  <tr>
    <td> Description: </td>
    <td> <%= @patientcard.description %> </td>
  </tr>

  <tr>
    <td> Hospital ID: </td>
    <td> <%= @patientcard.hospital_id %> </td>
  </tr>

  <tr>
    <td> Patient ID: </td>
    <td> <%= @patientcard.patient_id %> </td>
  </tr>

</table>

<br>

<div class="links-container">
  <%= link_to 'Update', edit_patient_card_path(@patientcard), class: "bottom-button" %>
  <%= link_to 'Back to Patient Cards', patient_cards_path, class: "bottom-button" %>
</div>