<%= stylesheet_link_tag 'view' %>

<h1> View Some Department </h1>

<table>
  <tr>
    <td> ID: </td>
    <td> <%= @department.id %> </td>
  </tr>

  <tr>
    <td> Name: </td>
    <td> <%= @department.name %> </td>
  </tr>

  <tr>
    <td> Description: </td>
    <td> <%= @department.description %> </td>
  </tr>

  <tr>
    <td> Hospital ID: </td>
    <td> <%= @department.hospital_id %> </td>
  </tr>
</table>

<br>

<div class="links-container">
  <%= link_to 'Update', edit_department_path(@department), class: "bottom-button" %>
  <%= link_to 'Back to departments', departments_path, class: "bottom-button" %>
</div>