<%= stylesheet_link_tag 'form' %>

<h1> Update Specialty </h1>

<%= form_for @specialty do |f| %>
  <%= f.label :name, class: "label" %>
  <%= f.text_field :name, class: "input-field", placeholder: "Specialty name" %><br>

  <%= f.label :description, class: "label" %>
  <%= f.text_field :description, class: "input-field", placeholder: "Desc. text" %><br>

  <%= f.submit "Update", class: "button" %>

  <div id="error-message" class="large-label"></div>
<% end %>