<%= stylesheet_link_tag 'form' %>

<h1> Add Specialty </h1>

<%= form_for @specialty do |f| %>
  <%= f.label :name, class: "label" %>
  <%= f.text_field :name, class: "input-field" %><br>

  <%= f.label :description, class: "label" %>
  <%= f.text_field :description, class: "input-field" %><br>

  <%= f.submit "Create", class: "button" %>

  <div id="error-message" class="large-label"></div>
<% end %>