<%= stylesheet_link_tag 'view' %>

<h1> View Some Specialty </h1>

<table>
  <tr>
    <td> ID: </td>
    <td> <%= @specialty.id %> </td>
  </tr>

  <tr>
    <td> Name: </td>
    <td> <%= @specialty.name %> </td>
  </tr>

  <tr>
    <td> Description: </td>
    <td> <%= @specialty.description %> </td>
  </tr>

</table>

<br>

<div class="links-container">
  <%= link_to 'Edit', edit_specialty_path(@specialty), class: "bottom-button" %> 
  <%= link_to 'Back', specialties_path, class: "bottom-button" %> 
</div>