<%= stylesheet_link_tag 'form' %>

<h1> Update Patient </h1>

<%= form_for @patient do |f| %>
  <%= f.label :name, class: "label" %>
  <%= f.text_field :name, class: "input-field", placeholder: "Test Testov Testovich" %><br>

  <%= f.label :birthdate, class: "label" %>
  <%= f.text_field :birthdate, class: "input-field", placeholder: "2023-03-23" %><br>

  <%= f.label :phone, class: "label" %>
  <%= f.text_field :phone, class: "input-field", placeholder: "+3801234567" %><br>

  <%= f.label :address, class: "label" %>
  <%= f.text_field :address, class: "input-field", placeholder: "123 Adr Street" %><br>

  <%= f.submit "Update", class: "button" %>

  <div id="error-message" class="large-label"></div>
<% end %>