<h1> View Patients </h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Birthdate</th>
      <th>Phone</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <% Patient.all.each do |patient| %>
      <tr>
        <td><%= patient.id %></td>
        <td><%= patient.name %></td>
        <td><%= patient.birthdate %></td>
        <td><%= patient.phone %></td>
        <td><%= patient.address %></td>
      </tr>
    <% end %>
  </tbody>
</table>