<%= stylesheet_link_tag 'view' %>

<h1> View Some Patient </h1>

<table>
  <tr>
    <td> ID: </td>
    <td> <%= @patient.id %> </td>
  </tr>

  <tr>
    <td> Name: </td>
    <td> <%= @patient.name %> </td>
  </tr>

  <tr>
    <td> Birthdate: </td>
    <td> <%= @patient.birthdate %> </td>
  </tr>

  <tr>
    <td> Phone: </td>
    <td> <%= @patient.phone %> </td>
  </tr>

  <tr>
    <td> Address: </td>
    <td> <%= @patient.address %> </td>
  </tr>

</table>

<br>

<div class="links-container">
  <%= link_to 'Update', edit_patient_path(@patient), class: "bottom-button" %>
  <%= link_to 'Back to Patients', patients_path, class: "bottom-button" %>
  <%= link_to 'Back to Hospitals', hospitals_path, class: "bottom-button" %>
</div>