<%= stylesheet_link_tag 'main' %>

<h1>Hospital app</h1>
<div class="links-container">
  <%= link_to 'View hospitals', hospitals_path, class: "button" %>
  <%= link_to 'View departments', departments_path, class: "button" %>
  <%= link_to 'View doctors', doctors_path, class: "button" %>
  <%= link_to 'View specialties', specialties_path, class: "button" %>
  <%= link_to 'View patients', patients_path, class: "button" %>
  <%= link_to 'View patient cards', patient_cards_path, class: "button" %>

  <% if user_signed_in? %>
    <% @user = current_user %>
      <div class="user-info">
        <% if @user.avatar.attached? %>
          <%= image_tag url_for(@user.avatar), alt: "Icon1", width: 50, height: 50 %>
        <% else %>
          <%= image_tag asset_path('user_info.png'), alt: "Icon2", width: 50, height: 50 %>
        <% end %>
        <p>Logged in as <%= current_user.email %></p>
      </div>
    <%= button_to 'Users private info (PDF)', users_download_pdf_path, class: "button" %>
    <%= button_to "Edit account", edit_user_registration_path(current_user), method: :get, class: "button" %>
    <%= form_tag destroy_user_session_path, method: :delete do %>
      <%= submit_tag "Log out", class: "button" %>
    <% end %>
    <%= form_for(current_user, url: registration_path(current_user), html: { method: :delete }) do |f| %>
      <%= f.submit "Delete account", class: "button" %>
    <% end %>
  <% else %>
    <%= link_to "Sign in", '/users/sign_in', class: "button" %>
  <% end %>
</div>