<%= stylesheet_link_tag 'main' %>

<h1>Hospital app</h1>
<div class="links-container">
  <%= link_to 'View hospitals', hospitals_path, class: "button" %>
  <%= link_to 'View departments', departments_path, class: "button" %>
  <%= link_to 'View doctors', doctors_path, class: "button" %>
  <%= link_to 'View specialties', specialties_path, class: "button" %>
  <%= link_to 'View patients', patients_path, class: "button" %>
  <%= link_to 'View patient cards', patient_cards_path, class: "button" %>

  <% if user_signed_in? %>
    <%= link_to 'Users private info (PDF)', users_download_pdf_path, class: "button" %>
    <p>Logged in as <%= current_user.email %></p>
    <%= form_tag destroy_user_session_path, method: :delete do %>
      <%= submit_tag "Log out", class: "button" %>
    <% end %>
    <%= form_for(current_user, url: registration_path(current_user), html: { method: :delete }) do |f| %>
      <%= f.submit "Delete account", class: "button" %>
    <% end %>
  <% else %>
    <%= link_to "Sign in", '/users/sign_in', class: "button" %>
  <% end %>
</div>